.App {
  text-align: center;
  background-color: #c8102e;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logos {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.logo-livingintelkom {
  width: auto;
  height: auto;
}

.logo-digistarclass {
  width: auto;
  height: auto;
}

.logo-telkomindonesia {
  width: auto;
  height: auto;
}

.logos img {
  width: 50px;
  height: auto;
}

.logos-left-bottom {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.author-text {
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.App.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: #ffffff;
  --header-text-color: #000000;
  --footer-background: #ffffff;
  --footer-text-color: #000000;
}

/* Dark Mode */
.App.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  --header-background: #000000;
  --header-text-color: #ffffff;
  --footer-background: #000000;
  --footer-text-color: #ffffff;
  --card-text: #ffffff;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  background-color: var(--header-background);
  color: var(--header-text-color);
}

.header nav ul li a {
  color: var(--header-text-color);
}

.header nav ul li a.active {
  color: var(--text-color);
}

.login-button {
  color: var(--header-text-color);
}

.email {
  color: var(--text-color);
}

.table-view {
  background-color: var(--card-background);
  color: var(--card-text);
}

.footer {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
}

.author-text {
  color: var(--footer-text-color);
  text-align: left;
  padding: 10px;
  font-size: 14px;
}

.card-content {
  color: var(--card-text);
}
